---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

<!-- comment out feedback card -->

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}

<div id="clustrmaps-container"></div>
<script>
(function() {
  var isMobile = window.matchMedia && window.matchMedia('(max-width: 768px)').matches;
  var w = isMobile ? 300 : 400; // adjust sizes if needed
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.id = 'clustrmaps';
  s.src = '//cdn.clustrmaps.com/map_v2.js?cl=5598db&w=' + w + '&t=tt&d=thWAtz8Bcwt_Yb6twhuYiVFHLl0sqI09jKB4fCxyoLM&co=f8f9fa&cmo=635c5c&cmn=000000&ct=000000';
  document.getElementById('clustrmaps-container').appendChild(s);
})();
</script>

<!-- <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=888&t=n&d=BoKUWoEuK02DZI0BFIdqSuHE5B8OtB63gOkohvso9NE&co=3788c1'></script> -->